body{
    background: rgb(194,236,245);
    background: linear-gradient(90deg, rgba(194,236,245,1) 0%, rgba(113,172,233,1) 35%, rgba(0,129,255,1) 100%);
    font-family: 'Open Sans', sans-serif;
}

h2{
    text-align: center;
}


.temp{
    border: 2px solid black;
    margin: 0 auto 20px auto;
    width: 680px;
    height: 205px;
    text-align: left;
   
}

.temp img{
    float: right;
    margin: 10px;
    margin-right: 20px;
}

.busca{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 40px; 
}

.adicionar{
    float: inline-end;
    margin-top: -30px;
    margin-right: 10px;
    color: rgb(5, 169, 245);
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    font-weight: 300;
    background-color: azure;
    border: 2px solid black;
}

.adicionar:hover{
    color:  rgb(5, 169, 245);
    background-color: #ffffff60; 
}

.more{
    float: inline-end;
    margin-top: -30px;
    color: rgb(5, 169, 245);
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    font-weight: 300;
    background-color: azure;
    border: 2px solid black;
    margin-right: 200px;
}

.more:hover{
    color:  rgb(5, 169, 245);
    background-color: #ffffff60;
}

.menu{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 40px;
    margin-top: -15px;
    font-weight: 600;
    font-style: oblique;
}

a{
    text-decoration: none;
}

.item-menu{
    margin-right: 20px;
}

#city{
    width: 250px;
    height: 30px;
    font-style: oblique;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#city:hover{
    width: 250px;
    height: 30px;
    font-style: oblique;
    background: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
}

button{
    position: relative;
    border: none;
    transition: .1s ease-in;
    z-index: 1;
}

button::before,
button::after{
    position: absolute;
    content: "";
    z-index: -1;
}
.btn1{
    color: rgb(5, 169, 245);
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    font-size: medium;
    font-weight: 300;
    background-color: azure;
    border: 2px solid black;
    
}

.btn1:hover{
   color:  rgb(5, 169, 245);
   background-color: #ffffff60;
}


